/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Componentes */
@import "./components/buttons.css";
@import "./components/navbar.css";
@import "./components/footer.css";
@import "./components/roomcard.css";
@import "./components/calendar.css";

/* Testes */
@import "./pages/login.css";
@import "./pages/home.css";
@import "./pages/reservar-sala.css";

