@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  background-color: white;
  color: black;
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 5rem;
  display: flex;
  position: absolute;
  top: 4rem;
}

.left-content {
  display: flex;
  flex: 1;
  flex-direction: column;
 justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.right-content {
  display: flex;
  flex: 1;
  background-color: #000000;
}

.hiperlink {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 5px;
}

.forgot-my-password-group {
  display: flex;
  justify-content: flex-end;
}

label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

input {
  display: flex;
  height: 5vh;
  width: 30vw;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

.btn-primary {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
  height: 6vh;
  width: 30vw;
}

.btn-primary img {
  margin-left: 1rem;
  vertical-align: middle;
}