.reservar-sala-container main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  background-color: white;
  padding: 2rem;
}

.reservar-sala-container .first-section {
  background-image: url("../../assets/images/pina-contemporanea.jpg");
  background-position: center;
  width: 100%;
  box-sizing: border-box;
  height: 45rem;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem;
  display: flex;
  align-items: center;
}

.reservar-sala-container .first-section .info {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: 500;
  width: 30rem;
  height: 30rem;
  padding: 2rem;
}
