


footer .footer-bottom {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.8rem 0px;
}

footer .footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 4rem 6rem;
  box-sizing: border-box;
  height: 20rem;
}

.footer-top .pina {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.footer-top button {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 100%
  );
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0;
  align-items:  center;
  border-radius: 0px;
  border: solid 1px black;
  background-color: transparent;
  height: 10rem;
  width: 5rem;
  transition: background-size 0.5s ease;
  cursor: pointer;
}

.footer-top .backToTop {
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top button img {
  transform: rotate(-90deg);
  filter: invert();
  transition: all 0.5s;
}

.footer-top button:hover {
  border: none;
}

.footer-top button:hover img {
  filter: none;

}