


footer .footer-bottom {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.8rem 0px;
}

footer .footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 4rem 6rem;
  box-sizing: border-box;
  height: 20rem;
}

.footer-top .pina {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.footer-top button {
  border-radius: 0px;
  border: solid 1px black;
  background-color: transparent;
  height: 10rem;
  width: 5rem;
}

.footer-top .backToTop {
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}