.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  width: 100%;
  background-color: #212529;
  border-top: solid 3.5px #ffffff;
  color: #ffffff;
}