.room-card {
  margin: 0;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  transition: outline 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}

.room-card button {
  margin: 1rem;
  justify-content: center;
}

.room-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.rooms-group {
  display: flex;
  gap: 2rem;
}

.room-card:hover {
  outline: 5px solid white;
  cursor: pointer;
}
